{
    "name": "Pandora Wedding Planner",
    "description": "Pandora Wedding Planner adalah platform yang membantu pasangan merencanakan pernikahan mereka.",
    "icon": "rocket",
    "category": "Web App",
    "status": "COMPLETED",
    "tech": [
        "javascript",
        "tailwindcss"
    ],
    "demo_url": "https://demo.spinotek.com/pandora-wedding-planner/",
    "repo_url": null,
    "added_at": "2026-02-23"
}

- diisi dan dimasukkan ke dalam project mu dan sesuaikan dengan project mu